<div class="row">
    <div class="col d-flex justify-content-center align-items-center" style="min-height: 70vh;">
        <form (ngSubmit)="createAccount(form)" #form="ngForm" class="validate-form text-center">

            <h1 class="fs-1 fw-bolder mb-5">
                REGISTRATE
            </h1>
            <i class="fas fa-circle-notch"></i>
            <div class="mb-4">
                <input class="border-top-0 border-end-0 border-start-0 fs-5" type="text" name="fullname"
                    [(ngModel)]="user.name" required fullname placeholder="Nombre completo"
                    style="min-width: 600px; height: 70px;">
            </div>
            <span *ngIf="form.submitted && form.controls['fullname'].errors" class="text-danger animated fadeIn">El
                nombre es obligatorio</span>

            <div class="mb-4">
                <input class="border-top-0 border-end-0 border-start-0 fs-5" type="text" name="email"
                    [(ngModel)]="user.email" required email placeholder="Dirección del correo"
                    style="min-width: 600px; height: 50px;">
            </div>
            <span *ngIf="form.submitted && form.controls['email'].errors" class="text-danger animated fadeIn">El
                correo es obligatorio</span>

            <div class="mb-4" data-validate="Password is required">
                <input class="border-top-0 border-end-0 border-start-0 fs-5" type="password" id='password'
                    name="password" [(ngModel)]="user.password" required minlength="6" placeholder="Contraseña"
                    style="min-width: 600px; height: 70px;">
            </div>
            <span *ngIf="form.submitted && form.controls['password'].errors" class="text-danger animated fadeIn">Al
                menos 6 letras
            </span>

            <div class="mb-4" data-validate="Password is required">
                <input class="border-top-0 border-end-0 border-start-0 fs-5" type="password" id='password2'
                    name="password2" [(ngModel)]="user.password2" required minlength="6"
                    placeholder="Confirmar Contraseña" style="min-width: 600px; height: 70px;">
            </div>

            <span *ngIf="form.submitted && form.controls['password2'].value != form.controls['password'].value" class="text-danger animated fadeIn">La
                contraseña no coincide
            </span>

            <div>
                <button class="btn bg-btn-create-account text-white fs-3 rounded-pill" type="submit"
                    style="min-width: 600px; height: 70px;">
                    Crear cuenta
                </button>
            </div>
        </form>
    </div>
</div>