
.applyFilters-button{
    background: rgb(52, 65, 182); 
    color: white;
    border: 0 none;
    border-radius: 5px;
    cursor: pointer; 
    min-width: 130px;
    padding: 5px 5px;
    display: inline-block;
    margin-top: 15px;
    margin-left: 35%;
}


.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 80%;
}    .select select {
        font-family: 'Arial';
        font-size: small;
        display: inline-block;
        width: 100%;
        cursor: pointer;
        padding: 8px 16px;
        outline: 0;
        border: 1px solid #000000;
        border-radius: 9px;
        background: #ffffff;
        color: #000000;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
        .select select::-ms-expand {
            display: none;
        }
        .select select:hover,
        .select select:focus {
            color: #000000;
            background: #f1f1f1;
        }
        .select select:disabled {
            opacity: 0.5;
            pointer-events: none;
        }
.select_arrow {
    position: absolute;
    top: 17px;
    right: 29px;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0px 5px;
    border-color: #7b7b7b transparent transparent transparent;
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
    border-top-color: #000000;
}
.select select:disabled ~ .select_arrow {
    border-top-color: #cccccc;
}




.offcanvas {
    background-color: #EDF1FF;
}

.accordion--custom .accordion-header input[type=checkbox]{
    width: 25px;
    height: 25px;
   
}

.accordion--custom .accordion-header input[type=checkbox]:focus{
    width: 25px;
    height: 25px;
   
}

.accordion--custom .accordion-header {
    display: flex; /* make flex element */
    align-items: center; /* aligning child items */
    column-gap: 1rem; /* adding gap between items in row */
    padding-left: 1rem;
    background: #EDF1FF;

}

.accordion--custom .accordion-header{

}


  
/* small udjustments */
.accordion--custom .accordion-header .accordion-button {
    padding-left: 0;
    background: #EDF1FF;
    text-decoration: none;
    user-select: none;
}

.accordion--custom .accordion-button:not(.collapsed) {
    box-shadow: none;
}

.button-group{
    margin-top: 20px;
    position: fixed;
    bottom: 25%;
    right: 10%;
}

.button-group .action-button{
    background: rgb(52, 65, 182); 
    color: white;
    border: 0 none;
    border-radius: 5px;
    cursor: pointer; 
    min-width: 100px;
    margin: 0 3px;
    padding: 5px 5px 5px 5px;
    display: inline-block;
}

.button-group .my-pagination /deep/.ngx-pagination{
    /* margin-top: 10px; */
    display: inline-block;
  }

.button-group .action-button:hover{
    background: rgb(15, 27, 131);
    border-color: rgb(15, 27, 131);
}

div.divTableStyle {
    border: 1px solid #FFFFFF;
    width: 90%;
    height: 90px;
    text-align: center;
    border-collapse: collapse;
    margin-top: 20px;
  }

  .divTable.divTableStyle .Seleccionar {
    border: 1px solid #FFFFFF;
    width: 10%;
    height: 30px;
  }
  .divTable.divTableStyle .id {
    border: 1px solid #FFFFFF;
    width: 10%;
  }

  .divTable.divTableStyle .Nombre {
    border: 1px solid #FFFFFF;
    width: 25%;
  }
  .divTable.divTableStyle .Descripción {
    border: 1px solid #FFFFFF;
    width: 55%;
  }

  .divTable.divTableStyle .divTableBody .divTableCell {
    font-size: 13px;
  }
  .divTable.divTableStyle .divTableRow:nth-child(even) {
    background: #e0e0e0;
  }
  .divTable.divTableStyle .divTableHeading {
    background: #47494e;
    border-bottom: 5px solid #FFFFFF;
  }
  .divTable.divTableStyle .divTableHeading .divTableHead {
    font-size: 17px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 0px solid #FFFFFF;
  }
  .divTable.divTableStyle .divTableHeading .divTableHead:first-child {
    border-left: none;
  }
  
  .divTableStyle .tableFootStyle {
    font-size: 14px;
  }
  /* DivTable.com */
  .divTable{ display: table; }
  .divTableRow { display: table-row; }
  .divTableHeading { display: table-header-group;}
  .divTableCell, .divTableHead { display: table-cell;}
  .divTableHeading { display: table-header-group;}
  .divTableFoot { display: table-footer-group;}
  .divTableBody { display: table-row-group;}