<h1 class="title-font-color fs-3 mt-5 fw-bolder text-center">
    Mi Cuenta
</h1>
<hr class="mx-5 mt-5">
<form (ngSubmit)="editInfo(form)" #form="ngForm" class="validate-form my-5">
    <div class="row ">
        <div class="col d-sm-none d-md-block bg-image">
            <img class="center d-flex justify-content-center" src="../../../assets/profile-img.png">
        </div>
        <div class="col">
            <div class="mb-5">
                
                <div class="position-relative" style="max-width: 400px">
                    <button class="position-absolute top-0 end-0 btn fas fa-user-edit" (click)="enableEdit()"
                        type="button"></button>
                </div>
                <h6 class="fw-bold">Información del perfil</h6>
                <div class="mb-3">
                    <input class="border-top-0 border-end-0 border-start-0 fs-6" type="text" name="userName"
                        [(ngModel)]="user.name" userName placeholder="Nombre" [disabled]="editDisabled"
                        style="min-width: 400px; height: 50px;">

                    <span *ngIf="form.submitted && form.controls['email'].errors" class="text-danger animated fadeIn">El
                        nombre es obligatorio</span>
                </div>
                <div class="mb-3">
                    <input class="border-top-0 border-end-0 border-start-0 fs-6" type="text" name="email"
                        [(ngModel)]="user.email" email placeholder="Correo" [disabled]="editDisabled"
                        style="min-width: 400px; height: 50px;">

                    <span *ngIf="form.submitted && form.controls['email'].errors" class="text-danger animated fadeIn">El
                        correo es obligatorio</span>
                </div>
            </div>

            <div>
                <div class="position-relative" style="max-width: 400px;">
                    <button class="position-absolute top-0 end-0 btn fas fa-user-edit" (click)="enableChangePassword()"
                        type="button"></button>
                </div>
                <h6 class="fw-bold"> Cambio de contraseña</h6>
                <div class="mb-3">
                    <input class="border-top-0 border-end-0 border-start-0 fs-6" type="password" name="oldPassword"
                        oldPassword placeholder="Contraseña Actual" [disabled]="changePassDisabled" [(ngModel)]="oldPassword"
                        style="min-width: 400px; height: 50px;">
                    <span *ngIf="form.submitted && oldPassIncorrect" class="text-danger animated fadeIn">
                        La constraseña es incorrecta
                    </span>
                </div>
                <div class="mb-3">
                    <input class="border-top-0 border-end-0 border-start-0 fs-6" type="password" name="password" password
                        placeholder="Nueva Contraseña" [disabled]="changePassDisabled" minlength="6" [(ngModel)]="user.password"
                        style="min-width: 400px; height: 50px;">
                    <span *ngIf="form.submitted && form.controls['password'].errors"
                        class="text-danger animated fadeIn">
                        Al menos 6 letras
                    </span>
                </div>
                <div class="mb-3">
                    <input class="border-top-0 border-end-0 border-start-0 fs-6" type="password" name="password2" password2
                        placeholder="Confirmar Nueva Contraseña" [disabled]="changePassDisabled" [(ngModel)]="user.password2"
                        style="min-width: 400px; height: 50px;">

                    <span *ngIf="form.submitted && form.controls['password2'].value != form.controls['password'].value"
                        class="text-danger animated fadeIn">
                        La constraseña no coincide
                    </span>
                </div>
            </div>

        </div>
    </div>
    <div class="text-center mt-5">
        <button class="btn btn-update me-2" type="submit" [disabled]="editDisabled && changePassDisabled">
            Actualizar
            <i class="fas fa-check ms-2"></i>
        </button>
        <button type="button" class="btn btn-cancel" (click)="disabledInputs()">
            Cancelar
            <i class="fas fa-times-circle ms-2"></i>
        </button>
    </div>
</form>
<div *ngIf="!adminAccount" class="mt-5 text-center">
    <hr class="mx-5">
    <h2 class="fw-bold">Eliminar cuenta</h2>
    <p class="text-center fs-4">
        ¿Esta seguro que desea eleminar la cuenta del sistema?
        <br>
        <i class="fas fa-info-circle fs-6 me-3"></i>
        <span class="fs-6">Esta acción es irreversible</span>
    </p>
    <button class="btn btn-danger" (click)="deleteAccount()">Si, Eliminar</button>
</div>