<h1 class="fs-4">Categorias de usuario</h1>
<div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 g-6 mt-4">
    <div *ngFor="let item of userCategories" class="col mb-1">
        <div class="card bg-card" style="max-width: 10rem;">
            <div class="card-body text-white pointer" (click)="showWords(item.category_id, item.name)">
                <input class="text-white me-1" (click)="categoryAction( $event, item)" type="checkbox" id="{{ item.category_id }}">
                <label class="text-white " for="{{ item.category_id }}">Seleccionar</label>
                <h5 class="card-text">{{item.name}}</h5>
                <p class="card-title" style="font-size: small;">{{item.date_created | date: 'dd//MM/yyyy'}}</p>
            </div>
        </div>
    </div>
</div>
<hr>
<h1 class="fs-4">Categorias del sistema</h1>
<div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 g-6 mt-4">
    <div *ngFor="let item of categories" class="col mb-1">
        <div class="card bg-card" style="max-width: 10rem;">
            <div class="card-body text-white pointer" (click)="showWords(item.category_id, item.name)">
                <input class="text-white me-1" (click)="categoryAction( $event, item)" type="checkbox" id="{{ item.category_id }}">
                <label class="text-white " for="{{ item.category_id }}">Seleccionar</label>
                <h5 class="card-text">{{item.name}}</h5>
                <p class="card-title" style="font-size: small;">{{item.date_created | date: 'dd//MM/yyyy'}}</p>
            </div>
        </div>
    </div>
</div>
<hr>
<div *ngIf="selectedCategory.name != ''">
    <h1 class="fs-4">Categoria: {{selectedCategory.name}}</h1>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-6 mt-4">
        <div *ngFor="let item of selectedCategory.words; let index = index" class="col mb-md-1">
            <div class="card bg-card">
                <div class="card-body text-white">
                    <p class="card-text">{{item}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>