<div class="row">
    <div class="col min-vh-100 d-flex justify-content-center align-items-center">
        <div class="pb-5">
            <form (ngSubmit)="login(form)" #form="ngForm" class="validate-form text-center mt-5">

                <h1 class="fs-1 fw-bolder mb-5">
                    INGRESAR
                </h1>
                <i class="fas fa-circle-notch fs-2 me-2"></i>
             
                <div class="mb-3">
                    <input class="border-top-0 border-end-0 border-start-0 fs-5" type="text" name="email"
                        [(ngModel)]="user.email" required email placeholder="Dirección del correo"
                        style="min-width: 400px; height: 50px;">
                </div>
                <span *ngIf="form.submitted && form.controls['email'].errors" class="text-danger animated fadeIn">El
                    correo es obligatorio</span>

                <div class="mb-3" data-validate="Password is required">
                    <input class="border-top-0 border-end-0 border-start-0 fs-5" type="password" id='password'
                        name="password" [(ngModel)]="user.password" required minlength="6" placeholder="Contraseña"
                        style="min-width: 400px; height: 50px;">
                </div>
                <span *ngIf="form.submitted && form.controls['password'].errors" class="text-danger animated fadeIn">Al
                    menos 6 letras
                </span>

                <div class="changePassword">
                    <a href="">¿Olvidó su contraseña?</a>
                </div>

                <div class="mt-2">
                    <button class="btn bg-btn-create-account text-white fs-3 rounded-pill" type="submit"
                        style="min-width: 400px; height: 50px;">
                        Ingresar
                    </button>
                </div>

            </form>
            <div class="text-secondary text-center">
                <p> ¿No tienes una cuenta? <a [routerLink]="['/userRegistration']">Regístrate</a></p>
            </div>
        </div>
    </div>
    <div class="col d-sm-none d-md-block bg-image">
        <img src="../../../../assets/fondo-login.jpeg" class="center d-flex justify-content-center"/>
    </div>
</div>
