.button-group{
    background: rgb(24, 41, 201); 
    color: white;
    border: 0 none;
    border-radius: 5px;
    cursor: pointer; 
    min-width: 130px;
    margin: 0 3px;
    padding: 5px 5px;
}

.button-group:hover{
    background: rgb(15, 27, 131);
    border-color: rgb(15, 27, 131);
}


.container-shadow {
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 5px 10px -2px #6c757d;
  }