<div class="container">
    <p class="text-center fw-bold fs-4">Categorias</p>
    <div class="container bg-light container-shadow" style="min-height: 450px;">
        <label class="fw-bold">Ver grupos de palabras claves</label>
        <div class="row mt-2">
            <div class="col-6">
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-primary" type="submit">Buscar</button>
                  </form>
            </div>
            <div class="col text-end">
                <button [routerLink]="['/Categories', 'new']" class="btn btn-primary">Crear nueva</button>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 g-6 mt-4">
            <div *ngFor="let item of categories" class="col mb-1">
                <app-categorie-card [category]="item"></app-categorie-card>
            </div>
    </div>
</div>