.container-shadow {
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 5px 10px -2px #6c757d;
}

.bg-card {
    background-color: #9180FF;
}

.bg-card:hover {
    background-color: #7c67ff;
}

.pointer {
    cursor: pointer;
}

.position-end {
    position: absolute;
    right: 0;
    margin-right: 5px;
}